.backgroundReg{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 745px;
    background: rgb(121,9,38);
    background: linear-gradient(90deg, rgba(121,9,38,1) 35%, rgba(254,255,0,1) 100%);
}